* {
    margin: 0;
    padding: 0;
}

html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
/*切换按钮*/
.swiper-button-next {
    position: absolute;
    bottom: 2%;
    top: auto;
    left: 47%;
    right: auto;
    transform: rotateZ(-90deg);
    width: 30px;
    height: 30px;
    background-size: cover;
    animation: nextbtn 1.5s infinite;
    opacity: 1;
    z-index: 100;
}

@keyframes nextbtn {
    0% {
        bottom: 2%;
        opacity: 1;
    }
    100% {
        bottom: 4%;
        opacity: 0;
    }
}
/*-------------音乐------------*/
#mp3btn {
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 100;
    background-color: #403d3dd4;
    border-radius: 50%;
    border: 2px solid white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    animation: music 2.5s infinite linear;
}

#mp3btn img {
    width: 10px;
}

@keyframes music {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*首页*/
.s1{
    background: url("../img/bg1.jpg");
    background-size: cover;
    height: 100%;
}
.s1 .main img:nth-of-type(1){
    width: 55%;
    left: 20%;
    top: 15%;
    position: absolute;
}
.s1 .main img:nth-of-type(2){
    position: absolute;
    width: 50%;
    top: 5%;
    left: 13%;
}


.chuan, .chuan2 {
    position: absolute;
    width: 40%;
    top: 75%;
    animation: ship1 5s alternate infinite;
    z-index: 99;
    transition: 1s;
}
@keyframes ship1 {
    0% {
        left: -35%;
        opacity: 0;
    }
    100% {
        left: 35%;
        opacity: 1;
    }
}
@keyframes ship {
    0% {
        left: 35%;
    }
    100% {
        left: 80%;

    }
}


.s1 .footer img:nth-of-type(2){
    position: absolute;
    width: 10%;
    top: 85%;
    animation: fish1 1.5s alternate infinite;
}
@keyframes fish1 {
    0% {
        left: 20%;

    }
    100% {
        left: 30%;

    }
}
.s1 .footer img:nth-of-type(3){
    position: absolute;
    width: 15%;
    top: 85%;
    left: 60%;
    animation: fish2 3s alternate infinite;
}
@keyframes fish2 {
    0% {
        top: 85%;

    }
    100% {
        top: 98%;

    }
}
.s1 .footer img:nth-of-type(4){
     position: absolute;
     width: 7%;
     top: 85%;
     animation: fish3 2s alternate infinite;
 }
@keyframes fish3 {
    0% {
        left: 70%;

    }
    100% {
        left: 80%;

    }
}
.s1 .footer img:nth-of-type(5){
    position: absolute;
    width: 7%;
    top: 78%;
    animation: fish4 3s alternate infinite;
}
@keyframes fish4 {
    0% {
        left: 80%;

    }
    100% {
        left: 90%;

    }
}
/*活动简介*/
.s2{
    background: url("../img/bg2.jpg");
    background-size: cover;
    height: 100%;
}
.s2 .header h2{
    font-family:"楷体";
    position: absolute;
    top: 11%;
    left: 36%;

}
.s2 .main img:nth-of-type(1){
    position: absolute;
    width: 40%;
    top: 5%;
    left: 31%;
}
.s2 .main img:nth-of-type(2){
    position: absolute;
    width: 50%;
    top: 9%;
    left: 13%;
}
.s2 .main p{
    padding-top: 40%;
    width: 85%;
    margin-left: 9%;
    text-align: left;
    font-family: "楷体";
    font-size: 14px;
    text-indent:2em;
}
.s2 .footer img:nth-of-type(1){
    position: absolute;
    top: 83%;
    left: 10%;
    width: 80%;
    z-index: 99;
}


.s2 .footer img:nth-of-type(2){
    position: absolute;
    width: 12%;
    top: 85%;
    left: 45%;
    animation: fish2 3s alternate infinite;
}
@keyframes fish2 {
    0% {
        top: 90%;
    }
    100% {
        top: 98%;

    }
}
.s2 .footer img:nth-of-type(3){
    position: absolute;
    width: 7%;
    top: 90%;
    animation: fish3 2s alternate infinite;
}
@keyframes fish3 {
    0% {
        left: 60%;

    }
    100% {
        left: 65%;

    }
}
.s2 .footer img:nth-of-type(4){
    position: absolute;
    width: 7%;
    top: 82%;
    animation: fish4 3s alternate infinite;
}
@keyframes fish4 {
    0% {
        left: 65%;

    }
    100% {
        left: 75%;

    }
}


/*活动详情*/
.s3{
    background: url("../img/bg2.jpg");
    background-size: cover;
    height: 100%;
}
.s3 .header h2{
    font-family:"楷体";
    position: absolute;
    top: 11%;
    left: 36%;

}
.s3 .main img:nth-of-type(1){
    position: absolute;
    width: 40%;
    top: 5%;
    left: 31%;
}
.s3 .main img:nth-of-type(2){
    position: absolute;
    width: 50%;
    top: 9%;
    left: 13%;
}
.s3 .main img:nth-of-type(3){
    width: 100%;
    margin-left: -5%;
    margin-top: 25%;
}
.s3 .main ul{
    text-align: left;
    list-style: none;
    font-size: 14px;
    font-family: "楷体";
    width: 70%;
    position: absolute;
    top: 25%;
    left: 14%;
}
.s3 .footer .img1{
    position: absolute;

}
.s3 .footer .img1 img:nth-of-type(1){
    width: 30%;
    position: absolute;
    margin-top: -13%;
    margin-left: 7%;
}
.s3 .footer .img1 img:nth-of-type(2){
    width: 45%;
    position: relative;
}
.s3 .footer .img1 img:nth-of-type(3){
    width: 15%;
    position: absolute;
    top: 75%;
    left: 43%;
}
.s3 .footer div .zhuan{
    animation: zhuan 2s infinite linear;
}
@keyframes zhuan {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.s3 .footer .img2{
    position: absolute;
    left:20%;

}
.s3 .footer .img2 img:nth-of-type(1){
    width: 30%;
    position: absolute;
    margin-top: -13%;
    margin-left: 7%;
}
.s3 .footer .img2 img:nth-of-type(2){
    width: 45%;
    position: relative;
}
.s3 .footer .img2 img:nth-of-type(3){
    width: 15%;
    position: absolute;
    top: 75%;
    left: 43%;
}


.s3 .footer .img3{
    position: absolute;
    left:40%;

}
.s3 .footer .img3 img:nth-of-type(1){
    width: 30%;
    position: absolute;
    margin-top: -13%;
    margin-left: 7%;
}
.s3 .footer .img3 img:nth-of-type(2){
    width: 45%;
    position: relative;
}
.s3 .footer .img3 img:nth-of-type(3){
    width: 15%;
    position: absolute;
    top: 75%;
    left: 43%;
}



.s3 .footer .img4{
    position: absolute;
    left:60%;

}
.s3 .footer .img4 img:nth-of-type(1){
    width: 30%;
    position: absolute;
    margin-top: -13%;
    margin-left: 7%;
}
.s3 .footer .img4 img:nth-of-type(2){
    width: 45%;
    position: relative;
}
.s3 .footer .img4 img:nth-of-type(3){
    width: 15%;
    position: absolute;
    top: 75%;
    left: 43%;
}

.s3 .footer p{
    position:absolute ;
    width: 25%;
    margin-left: 37%;
    margin-top: -108%;
    font-weight: bolder
}
/*联系我们*/
.s4{
    background: url("../img/bg1.jpg");
    background-size: cover;
    height: 100%;
}
.s4 .header img:nth-of-type(1){
    width: 80%;
    margin-left: -17%;
    margin-top: -10%;
}

.s4 .main input{
    border: 1px solid #000000;
    width: 75%;
    height: 5vh;
    margin-bottom: 1rem;
    padding-left: 5px;
}
.s4 .main input[type="submit"]{
    border: 1px solid #000000;
    width: 77%;
    height: 5vh;
    margin-bottom: 1rem;
    background-color: black;
    color: white;
}
.s4 .header img:nth-of-type(2){
    position: absolute;
    width: 50%;
    top: 9%;
    left: 13%;
}
.s4 .footer img:nth-of-type(2){
    position: absolute;
    width: 10%;
    top: 85%;
    animation: fish1 1.5s alternate infinite;
}
@keyframes fish1 {
    0% {
        left: 20%;

    }
    100% {
        left: 30%;

    }
}
.s4 .footer img:nth-of-type(3){
    position: absolute;
    width: 15%;
    top: 85%;
    left: 60%;
    animation: fish2 3s alternate infinite;
}
@keyframes fish2 {
    0% {
        top: 85%;

    }
    100% {
        top: 98%;

    }
}
.s4 .footer img:nth-of-type(4){
    position: absolute;
    width: 7%;
    top: 85%;
    animation: fish3 2s alternate infinite;
}
@keyframes fish3 {
    0% {
        left: 70%;

    }
    100% {
        left: 80%;

    }
}
.s4 .footer img:nth-of-type(5){
    position: absolute;
    width: 7%;
    top: 78%;
    animation: fish4 3s alternate infinite;
}
@keyframes fish4 {
    0% {
        left: 80%;

    }
    100% {
        left: 90%;

    }
}

