/*-----------------通用样式-----------*/
body,ul,li,p,h1,h2,h3{
	margin: 0;
	padding: 0;
}
.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
	clear: both;
}
.warper{
	width: 100%;
	background: url(../images/bg.jpg);
	padding-bottom: 18px;
}
.header,.banner,.containt,.footer{
	margin: 0 auto;
	width:958px;
}
.float{
	float:left;
}
/*------------------通用样式-------------*/
/*-----------------warper样式------------*/
/*-----------------warper样式------------*/
/*-----------------header样式------------*/
.logo{
	padding:44px 480px 44px 24px;
}
.navbar{
	padding-top: 68px;
	font-family: Raavi;
	font-size: 16px;
	color: white;
}
.navbar li{
	padding-right: 35px;
	list-style: none;
}
.navbar a{
	color: white;
	text-decoration: none;
}
.nav{
	background: url(../images/nav-bg_03.gif);
	border-radius: 10px;
	line-height: 343.75%;
	font-family: Raavi;
	font-size: 16px;
	margin-bottom: 50px;
}
.nav li{
	float: left;
	list-style: none;
	width: 189px;
	text-align: center;
}
.btn1,.btn2,.btn3,.btn4{
	border-right: 1px #f9f9f9 solid;
	border-left: 1px #dedede solid;
}
.btn1{
	background: #f04e04;
	color: white;
	border-radius: 10px;
	border-left: 1px #dedede solid;
}
.nav li:hover{
	background: #f04e04;
	color: white;
	border-radius: 10px;
}
/*-----------------header样式------------*/
/*-----------------banner样式------------*/
.banner-left{
	background: url(../images/slider-bg.png) no-repeat;
	padding-left: 21px;
	padding-right: 100px;
	padding-bottom: 37px;
}
.banner-left1 img{
	margin-left: 88px;
	padding-top: 17px;
}
.banner{
	position: relative;
}
.banner-img1{
		position: absolute;
		width: 39px;
		top:130px;
		left: 30px;
}
.banner-img2{
	position: absolute;
	width: 39px;
	left:575px;
	bottom:150px;
}
.banner-right{
	width: 267px;
	margin-left: 50px;
}
.banner-right .h1{
	color: #ec4003;
	font-size: 61px;
	font-family: Raavi;
	height: 65px;
}
.banner-right h2{
	color:#e7e7e7;
	font-family: Raavi;
}
.p1,.p2{
	color: #80807e;
	font-size: 15px;
	font-family:  Raavi;
}
.banner-btn{
	background:  url(../images/nav-bg_03.gif);
	width: 150px;
	height: 45px;
	text-align: center;
	font-size: 16px;
	line-height: 281.25%;
	border-radius: 10px;
	margin-left: 64px;
	margin-top: 30px;
}
/*-----------------banner样式------------*/
/*-----------------containt样式----------*/
.containt{
	margin-top: 69px;
}
.containt-top1,.containt-top2,.containt-top3{
	background: #0f0f0f;
	border: 1px solid #2b2b2b;
	width: 300px;
	float: left;
	border-radius: 10px;
}
.containt-top1{
	margin-left: 16px;
}
.containt-top2{
	margin: 0px 16px;
}
.containt-top1-01,.containt-top2-02,.containt-top3-03{
	background: url(../images/containt-img-bg_03.jpg);
	width: 72px;
	margin:24px 26px 20px 24px;
	border-radius: 10px;
	text-align: center;
	font-size: 52px;
	font-family: Trebuchet MS;
	line-height:138.4615384615385%;
	float: left;
}
.containt-top1 h2,.containt-top2 h2,.containt-top3 h2{
	color: #eb3c03;
	font-family: Raavi;
	font-size: 42px;
	letter-spacing: -2px;
	margin-bottom: -40px;
	float: left;
	margin-top: 10px;
	width: 178px;
}
.containt-top1 h3,.containt-top2 h3,.containt-top3 h3{
	color: #e7e7e7;
	font-family: Raavi;
	font-size: 36px;
	float: left;
	width: 178px;
	margin-bottom: 5px;
}
.containt-top1 p,.containt-top2 p,.containt-top3 p{
	color: #80807e;
	margin-left: 23px;
	font-family: Raavi;
	margin-bottom: 27px;
	font-size: 14px;
	word-spacing: -2px;
	float: left;
	width: 200px;
}
.containt-top1 img,.containt-top2 img,.containt-top3 img{
	float: left;
	margin-left:44px;
	margin-top:10px;
}
.containt-bottom{
	margin-left: 24px;
}
.containt-bottom-left{
	float: left;
	width: 601px;
}
.containt-bottom-left h2{
	color: white;
	margin-bottom: 20px;
	margin-top: 42px;
	font-size: 42px;
}
.containt-bottom-left img{
	margin-right: 25px;
	float: left;
}
.containt-bottom-left-p1,.containt-bottom-left-p2{
	font-size: 14px;
	font-family: Raavi;
	float: left;
	width: 370px;
}
.containt-bottom-left-p1{
	color: white;
}
.containt-bottom-left-p2{
	color: #80807e;
}

.containt-bottom-left ul li{
	list-style-image:url(../images/containt-litter_07.gif);
	color:white;
	font-family: Raavi;
	width: 370px;
	list-style-position:inside;
	font-size: 14px;
}
.containt-bottom-right{
	background: #0d0d0d;
	border-radius: 10px;
	border:1px solid #262626;
	float: left;
	padding-left: 25px;
	padding-top:20px;
	width: 300px;
	margin-top:16px;
}
.text-2,.text-1{
	float: left;
	width: 270px;
}

.containt-bottom-right h2{
	color: #80807e;
	font-size: 42px;
}
.containt-bottom-right img{
	float: left;
}
.containt-bottom-right p{
	float: left;
	color: #80807e;
	font-size: 14px;
	font-family: Raavi;
	width: 200px;
	margin-left: 9px;
}
.containt-bottom-right-p1{
	padding-left: 29px;
	padding-top:10px;
}
.solid1{
	border:1px solid #262626;
	margin-top: 120px;
	margin-bottom: 10px;
	margin-right:15px;
}
.solid2{
	border:1px solid #262626;
	margin-top: 130px;
	margin-bottom: 20px;
	margin-right:15px;
}
.right-p{
	padding-bottom: 25px;
}

/*-----------------containt样式----------*/
/*-----------------footer样式------------*/
.footer-inner{
	background:url(../images/footer-bg_03.jpg);
}
.footer{
	font-size: 14px;
	font-family: Raavi;
}
.footer-p1{
	margin-left:393px;
	padding-top: 30px;
}
.footer-p2{
	margin-left: 327px;
}
.footer-p3{
	margin-left: 68px;
	padding-bottom: 15px;
}
/*-----------------footer样式------------*/