/*----通用样式----*/
body,ul,li,p,h1,h2,h3{
	margin: 0px;
	padding: 0px;}
.clearfix:before,
.clearfix:after{
	content: " "; 
	display: table;
	clear: both;}
.logo,.nav,.nav li,.containt-left,.containt-right,.containt-conter,.containt-right li,.footer-right,.footer-left,.nav2 li{float: left;}
.header,.containt,.banner,.footer{
	margin:0 auto;
	width: 982px;}
 .nav li,.containt-left li,.containt-right li,.nav2 li{list-style: none;}

/*------------通用样式------------*/
.warper{
	width: 100%;
}
.header-inner{
	background: url(../images/header_30.gif);
	width: 100%;
}
.logo{
	margin:56px 0px 32px 22px;
}
.nav li{
	border-radius: 3px;
	line-height: 150%;
	text-align: center;
	font:18px Utsaah;
	font-weight: 600;
	background: url(../images/work-bg_10.gif);
}
.btn1{
	width: 55px;
color: #0186c7;
}
.btn2{
	width: 53px;
	margin:0px 12px;
}
.btn3{
	width: 63px;
}
.nav{
	margin:64px 0px 0px 685px;
}
.containt-left ul{
	margin-left: 22px;
	font:16px Utsaah;
	color:#8e87b1;
}
.containt-left-text{
	margin: 34px 0px 12px 0px;
}
.containt-left-conter{
	margin:5px 0px;
}
.containt-conter{
	margin-top: 26px;
	margin-left: 105px;
	width: 564px;
}
.containt-conter h1{
	margin-bottom: 20px;
	font: 52px Utsaah;
	color:#1e1f1a;
}
.containt-conter p{
	letter-spacing: 1px;
	font: 18px Utsaah;
}

.containt-conter h3{
	font: 23px Utsaah;
	font-weight: 600;
	margin-top:40px;
	margin-bottom: 20px;
}
.containt-conter ul li{
	font: 18px Utsaah;
}
.containt-right-img{
	margin: 0px 7px;
}
.containt-right{
	margin-left:65px;
	margin-top:35px;
}
.footer-left p{
	font:16px Utsaah;
color: #94979e;
}
.footer-left span{
	color: #0087b9;
}
.footer-logo{
	margin: 37px 0px 24px 0px;
}
.footer-left{
	padding-bottom: 24px;
}
.nav2 li{
	border-radius: 3px;
	line-height: 150%;
	text-align: center;
	font:18px Utsaah;
	font-weight: 600;
	background: url(../images/work-bg_10.gif);
}
.nav2{
	margin-top: 47px;
	margin-left: 270px;
	color:#6f6f6f;
}
.footer-1{
	width: 55px;
}
.footer-2{
	width: 53px;
margin:0px 12px;
}
.footer-3{
	width: 63px;
}
.footer-inner{
	background: url(../images/footer_34.gif);
}

