/*----------通用样式----------*/
body,ul,li,p,h1,h2,h3{
	margin: 0px;
	padding: 0px;
}
.body{
	font-size: 1rem;
}
.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
	clear: both;
}
.warper{
	width: 100%;
}
.header,.banner,.containt,.footer{
	margin: 0 auto;
	width: 86.73647469%;
}
.logo,.nav,.nav li ,.main-right,.main-left,.left-bottom2,.footer-icon li{
	float: left;
}
.nav li,.main-right .ourAdventures li,.footer-icon li{
	list-style: none;
}
.nav a,.Next-Event2 a{
	text-decoration:none;}
/*----------通用样式----------*/
/*----------header的样式----------*/
.header-inner{
	background: #000000;
}
.header{
	padding: 1.5625rem 0rem;
	overflow: hidden;
}
.logo{
	width: 46.07645875%;
	margin-right: 6.271629778%;
	
}
.logo img{
	width: 100%;
}

.nav{
	width: 45.271629778%;	
	padding-top: 2.6875rem;
}
.nav li{
	line-height: 100%;
}
.nav a{
	color: #FFF;
	font-size: 0.875rem;
	font-family:  Calibri;
	font-weight: 600;
	letter-spacing: -1.4px;
	}
.nav li a:hover{
	color:red;
}
.btn1 a{	
	color:red;
}
.btn2 a,.btn3 a,.btn4 a,.btn5 a,.btn6 a{
	color: #7f7f7d;
}
.btn1,.btn2,.btn3,.btn4,.btn5{
	margin-right: 6.4444444444%;
}
.btn6{
	margin-right: 5.33333333333%;
}
/*----------header的样式----------*/
/*----------banner的样式----------*/
.banner-inner{
	background:url(../images/banner_inner_bg.gif);
	
}
.banner{
	position: relative;
	height: 348px;
}
.banner-text{
	width: 59.15492957%;
}

.banner-text h1{
	color: white;
	padding-bottom: 4.5929018%;
}
.banner-text p{	
	color: #7f7f7f;
}
.banner-text a{
	text-decoration:none;
	color: red;
}
.banner-text-btn{
	background: #d84600;
	width: 10.663983%;
	height: 41px;
	text-align:center;
	font-size: 1.625rem;
	font-family:Corbel;
	border-radius: 10px;
	margin-top: 4.034582132%;
}
.banner-text-btn a{
	color: white;
}

.banner-pic{
	width: 35.21162%;	
	top:-8.3333333%;
	position:absolute;
	left: 65.392354124%;
}
/*----------banner的样式----------*/
/*----------containt的样式----------*/
.containt-inner{
	background: url(../images/预览图jhgk_10.gif);
	height: 896px;
}
.containt-pic{
	padding-top:3.9235412%;
}
.containt-pic .pic1,.containt-pic .pic2,.containt-pic .pic3{
	float:left;
}
.containt-pic .pic1{
	padding-left: 10.56338%;
}
.containt-pic .pic2{
	padding-left: 2.0120724%;
	padding-right: 2.0120724%;
}
.NextEvent-top h1{
	color:#ffffff;
	width:268px;
	padding-left:10.764587%;
	padding-top:3.25rem;
} 
.NextEvent-top img,.NextEvent-bottom .left-bottom1{
	padding-left:10.5633802%;
	margin-top: 2.0120724%;
	float: left;
}
.main .p1{
	color: #7f7b68;
	padding-left:21px;
	width: 520px;
	float: left;
	padding-top: 2.460850111%;
}
.main-left{
	width: 706px;
}
.main .p2{
	color: #7f7b68;
	padding-left:158px;
	width: 520px;
	float: left;
	padding-top: 1.5238697%;
	padding-right:59px;
	padding-bottom:26px;
}
.left-top2 a{
	color:#ffffff;
	text-decoration: none;
}
.left-top3{
	padding-left: 80px;
	margin-bottom:50px;
}

.ourAdventures{
	float: left;
	margin-left: 30px;
	font-family: Calibri;
}
.ourAdventures h1{
	color: white;
	background: #101111;
	width: 300px;
	height: 49px;
	text-align: center;
	margin-top:20px;
	margin-left: 10px;
	margin-bottom: 10px;	
}
.ourAdventures ul{
	font-size: 18px;
	color: white;
	float: left; 
	margin-left: 28px;
}
.ourAdventures ul li{
	border-bottom: 1px #ffffff dashed;
	padding-top: 10px;
	padding-bottom: 10px;
}
.NextEvent-top{
	border-bottom: 1px #ffffff dashed;
	height: 302px;
	padding-bottom: 50px;
	font-family: Calibri;
	line-height: 165.5714285%;
}
.NextEvent-bottom{
	font-family: Calibri;
}
.left-bottom1{
	padding-top: 20px;

}
.left-bottom2{
	width: 219px;
	height: 160px;
	padding-top:30px;
	padding-left:21px;
	float: left;

}
.left-bottom3{
	color: white;
	margin-left: 20px;
	padding-top: 30px;
	width: 300px;
	height: 162px;
	float: left;
	line-height: 165.5714285%;
}
.left-bottom4 img{
	padding-left: 145px;
	padding-top: 50px;
	
}

.meetings{
	background-color: #000;
	width: 300px;
	height: 233px;
	margin-top: 400px;
	margin-left:40px;
	font-family: Calibri;
}
.meetings1{
	color:white;
	padding-left: 21px;
	padding-top: 21px;
	padding-bottom: 15px;
}
.meetings2{
	padding-left: 21px;
	padding-bottom: 22px;
}
.meetings .p3,.meetings .p4{
	font-family: Calibri;
	font-size: 16px;
	padding-left: 20px;
}
.meetings .p3{
	color: white;
}
.meetings .p4{
	color: #7f7f7d;

}

/*----------containt的样式----------*/
/*----------footer的样式--------  ------*/
.footer-inner{
	height: 150px;
	background: url(../images/footer-inner_03.gif);
}
.copyright .p5,.copyright .p6{
		color: #7f7f7d;
		font-family: Calibri;
}
.copyright .p5{
	padding-left: 345px;
	padding-top: 37px;
}
.copyright .p6 a{
	color: #cc2804;
	padding-left: 279px;
}
.footer-icon{
	margin-left:828px;
}
.footer-icon li{
margin-right:10px;
}
/*----------footer的样式----------*/
