@charset "utf-8";
/* CSS Document */
.zhou{
	width:1000px;
	height:1000px;
	margin:auto;
}
.zhou1{
	width:100px;
	float:left;
}
.zhou2{
	width:300px;
	float:left;
	height:40px;
}
.zhou3{
	width:35px;
	float:left;
	background-image:url(../image/1.jpg);
}
.zhou4{
		width:70px;
		float:left;
		background-image:url(../image/top-bg21.jpg);
}
.zhou5{
		width:35px;
		float:left;
		background-image:url(../image/right-menu2.gif);
}
.zhou6{
		width:70px;
		float:left;
		background-image:url(../image/top-bg31.jpg);
}
.zhou7{
		float:right;
		width:350px;
		height:10px;
}
.zhou8{	
		width:60px;
		float:left;
		
}
.zhou9{	
		width:70px;
		float:left;
		
}
.zhou10{	
		width:80px;
		float:left;
		
}
.zhou11{	
		width:80px;
		float:left;
		
}
.zhou12{	
		width:25px;
		float:left;
		height:20px;
		
}
.zhou13{
 	 background-color:#A0A0A4;
 	 width:1000px;
 	 height:1px;
 	 float:left;
 	
  
}
.zhou14{
		width:1000px;
		clear:both;
		margin-left:20px; 
}
.zhou15{
	background-image:url(../image/product_left_top.jpg);
	width:180px;
	height:20px;
	
}
.zhou16{
	width:149px;
	height:200px;
	float:left;
}
.zhou17{
	width:69px;
	height:90px;
	float:left;
}
.zhou18{
		width:80px;
		height:40px;
		float:left;
		margin-top:0px;
}
.zhou19{
		width:800px;
		height:230px;
		float:left;
}
.zhou20{
		width:140px;
		height:230px;
		margin-left:10px;
		float:left;
}
.zhou21{
		width:250px;
		height:130px;
		float:left;
		
}
.zhou22{
		width:250px;
		height:130px;
		float:left;
}
.zhou23{
		width:630px;
		height:50px;
		float:left;
		
}
.zhou24{
	width:800px;
	height:1px;
	background-color:#A0A0A4;
	clear:both;
}
.zhou25{
		margin:10px;
		}
		
		
.zhou26{
	width:800px;
	height:1px;
	background-color:#A0A0A4;
	clear:both;}
	.zhou27{
	margin:30px;
	}
	.zhou28{
		margin-top:20px;
		margin-left:150px;
	}
		