@charset "utf-8";
/* CSS Document */

.z{
	width:1000px;
	height:1000px;
	margin:auto;
}
.a{
	float:left;
	padding-left:10px;
}
.b{
	float:right
}
.c{
	background-color:#FF5F00;
	width:1000px;
	height:5px;
	clear:both;	
	margin:5px;
}	
.d{padding-top:5px;}
.e{padding-left:20px;}
.f{background-color:#B0E0E6;
}
.u{background-color:#B0E0E6;}
.i{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
}