@charset "utf-8";
/* CSS Document */

.kai{float:right;
	}
.zhou{
	background-color:#FF5F55;
	width:1400px;
	height:5px;
	clear:both;
	}
.yun{
	float:left;
	margin-left:10px;
}
.ai{background-color:#708090;
	width:800px;
	height:2px;
	clear:both;
	margin-left:30px;}
.keep{margin-top:30px;
	margin-left:30px;
		}
.help{float:right;
		}
.fond{float:right;
	}
.clear{float:right;
	}
.football{float:right;
			}
.a{
	padding-right:200px;
}
.b{
	width:500px;
	float:left;
}
.c{
	width:280px;
	height:210px;
	float:right;
	border-left:1px;
	border-left-color:#A0A0A4;
	border-left-style:solid;
	border-right:1px;
	border-right-color:#A0A0A4;
	border-right-style:solid;
	margin-right:400px;
	background-color:#FFFBF0;
}
.d{text-align:center;
padding-top:10px;
padding-bottom:10px;
}
.top{text-align:center;}
.advice{background-color:#808080; margin:5px;
width:250px;
height:1px;
	}
.little{width:130px;
height:20px;}
.ss{margin:8px;}
.want{float:right;
}
