@charset "utf-8";
/* CSS Document */

.zhou{
	width:1000px;
	height:140px;
	margin:auto;
}
.zhou1{
	width:100px;
	float:left;
}
.zhou2{
	width:300px;
	float:left;
	height:40px;
}
.zhou3{
	width:35px;
	float:left;
	background-image:url(../image/1.jpg);
}
.zhou4{
		width:70px;
		float:left;
		background-image:url(../image/top-bg21.jpg);
}
.zhou6{
		width:70px;
		float:left;
		background-image:url(../image/top-bg31.jpg);
}
.zhou7{
		float:right;
		width:350px;
		height:10px;
}
.zhou8{	
		width:60px;
		float:left;
		
}
.zhou9{	
		width:70px;
		float:left;
		
}
.zhou10{	
		width:80px;
		float:left;
		
}
.zhou11{	
		width:80px;
		float:left;
		
}
.zhou12{	
		width:25px;
		float:left;
		height:20px;
		
}
.zhou13{
 	 background-color:#A0A0A4;
 	 width:1000px;
 	 height:1px;
 	 float:left;
 	
  
}
.zhou15{
	clear:both;}
	.zhou19{
	width:1000px;
	height:1px;
	background-color:#2A7FAA; 
	float:left;
	}
	.yun1{
	clear:both;
	}
	.a{
	width:1300px;
	height:1px;
	background-color:#2A7FAA;
	}
	.w{
	width:1200px;
	height:1000px; 
	background-color:#AA9FAA;
	}
.d{
background-color:#FF1F00;
width:800px;
height:1000px;
float:left;
}
.m{
background-color:#AABFFF;
width:400px;
height:1000px;
float:right;
}

	