.banner-bg{
	background: url(../images/slide-1.jpg);
	width: 940px;
	height: 392px;
	margin-right: 10px;
	margin-left: 10px;
}
/*-------------------containt---------------------*/
/*-------------------containt-top--------------------*/
.containt-top{
	padding:38px 46px 28px 46px;
}
.containt-top-top{
	padding-bottom: 18px;
}
.containt-top-bottom-left{
	margin-right: 32px;
}
.containt-top-bottom-left,.containt-top-bottom-center,.containt-top-bottom-right{
	float: left;
	width: 268px;
}
.containt-top-bottom-left1,.containt-top-bottom-left2,.containt-top-bottom-left3,.containt-top-bottom-left4{
	float: left;
}.containt-top-bottom-left1,.containt-top-bottom-left3{
	font-size: 18px;
}

.containt-top-bottom-left2,.containt-top-bottom-left4{
	font-size: 13px;
}
.containt-top-bottom-left1{
	margin:17px 42px 28px 0px;
}
.containt-top-bottom-left2{
	margin:18px 0px 27px 0px;
}
.containt-top-bottom-left3{
	width: 161px;
	letter-spacing: -0.7px;
	margin:17px 32px 28px 0px;
	
}
.containt-top-bottom-left4{
	width: 71px;
	letter-spacing: -0.7px;
	margin:18px 0px 27px 0px;
	float: left;
	font-size: 13px;
}

.containt-top-bottom-center1,.containt-top-bottom-center3{
	font-size: 18px;
}

.containt-top-bottom-center2,.containt-top-bottom-center4{
	font-size: 13px;
}
.containt-top-bottom-center1{
	width: 135px;	
	margin:17px 61px 28px 0px;
	letter-spacing: -0.7px;
	float: left;
}
.containt-top-bottom-center2{
	width: 71px;
	margin:18px 0px 27px 0px;
	letter-spacing: -0.7px;
	float: left;
	font-size: 13px;
}
.containt-top-bottom-center3{
	width: 108px;
	letter-spacing: -0.7px;
	float: left;
	margin: 17px 86px 28px 0px;
}
.containt-top-bottom-center4{
	width: 71px;
	letter-spacing: -0.7px;
	margin:18px 0px 27px 0px;
	float: left;
	font-size: 13px;
}
.containt-top-bottom-right{
	margin-left: 32px;
}
.containt-top-bottom-right1{
	width:117px;
	font-size: 18px;
	margin: 17px 77px 28px 0px; 
	letter-spacing: -0.7px;
	float: left;
}
.containt-top-bottom-right2{
	width: 71px;
	font-size: 13px;
	margin:18px 0px 27px 0px;
	letter-spacing: -0.7px;
	float: left;
}
.containt-top-bottom-right3{
	width: 144px;
	letter-spacing: -0.7px;
	float: left;
	margin: 17px 49px 28px 0px;
	font-size: 18px;
}
.containt-top-bottom-right4{
 	width: 71px;
	letter-spacing: -0.7px;
	margin:18px 0px 27px 0px;
	float: left;
	font-size: 13px;
}
.containt-bottom{
	margin: 0 10px;
	background: white;
	padding-left: 36px;
}
.containt-bottom-top{
	margin:30px 0px 18px 0px;
}
.containt-bottom-bottom-img1,.containt-bottom-bottom-img2,.containt-bottom-bottom-img3,.containt-bottom-bottom-img4,.containt-bottom-bottom-img5{
	margin-right: 32px;
	float:left; 
	width:148px;
}
.containt-bottom-bottom-img6,.containt-bottom-bottom-img7,.containt-bottom-bottom-img8,.containt-bottom-bottom-img9,.containt-bottom-bottom-img10{
	float:left; 
	width:148px;
	margin: 32px 32px 51px 0px;
}


/*-------------------containt-top-------------------*/
/*-------------------containt-bottom--------------------*/
/*-------------------containt-bottom--------------------*/
/*-------------------containt---------------------*/