
.top-left,.top-right,.bottom1,.bottom2,.bottom3{
	float:left;
}

/*---------------------*/
.banner-bg{
	background: url(../images/slide-3.jpg);
	width: 940px;
	height: 392px;
	margin-right: 10px;
	margin-left: 10px;
}
.top-left{
	padding:42px 40px 57px 0px; 
}
.top-right{
	width: 580px;
}
.top-right h1{
	font-family: 微软雅黑;
	font-size: 59px;
	color: #0043e4;
	letter-spacing: 1px;
	padding-top: 48px;	
	margin-bottom: -25px;
}
.top-right h2{
	padding-bottom: 23px;
}
.top-right p{
	font-size: 14px;
	padding-bottom: 37px;
}
.containt_bottom{
	background: white;
	height: 390px;
	margin: 0 10px;
}

.top-h2,.bottom1 h2,.bottom2 h2{
	width: 250px;
	padding-left:36px;
	margin-top: 30px;
} 
.bottom3 h2{
	width: 250px;
	padding-left:10px;
	margin-top: 30px;
}
.bottom{
	margin-right: 20px;
}
.bottom img{
	margin-top:17px;
}
.bottom1 img{
	padding-left: 36px;
}
.bottom1 h2{
	padding-left: 36px;
}
.bottom1 p,.bottom2 p{
	width: 255px;
	padding-left: 36px;
	margin-top:25px;
	letter-spacing: -0.5px;
}
.bottom2,.bottom3 {
	width: 266px;
}
.bottom2 img{
	margin-left: 30px;
	margin-right: 20px;
}

.bottom3 p{
	width: 255px;
	padding-left: 10px;
	margin-top:25px;
	letter-spacing: -0.5px;
}

.bottom3{
	margin-left:60px;
}
.bottom3 p{
	padding-right: 20px;
}
