.banner-bg{
	background: url(../images/slide-1.jpg);
	width: 940px;
	height: 392px;
	margin-right: 10px;
	margin-left: 10px;
}
.containt-top{
	padding: 0px 34px 48px 0px;
}
.containt-top-left{
	width: 566px;
	padding:38px 34px 48px 46px;
	float: left;
}
.containt-top-left h3{
	padding: 23px 0px 25px 0px;
}
.containt-top-left p{
	padding-top: 41px;
	line-height: 200%;
	letter-spacing: -0.1px;
	font-size: 14px;
}
.containt-top-left-li{
	padding-left:20px;
}
.containt-top-left li,.containt-table3 li{
	list-style-position:inside;
	line-height: 200%;
	letter-spacing: -0.1px;
	font-size: 14px;
	list-style-image: url(../images/Members-Info-containt_03.png);
}
.containt-top-right{
	width: 260px;
	float: left;
}
.containt-top-right a{
	text-decoration: none;
	color: #0043e4;
}
.containt-1h{
	padding-top: 38px;
	padding-bottom: 28px;
}
.containt-top-right p{
	padding-bottom: 28px;
}
.containt-2h{
	padding-bottom:18px;
}
.containt-table1,.containt-table2{
	background: #000;
	width:260px;
	height: 36px;
	color: #fff;
	float: left;
}
.containt-table1{
	line-height: 200%;
	margin-bottom: 4px;
	padding-left: 20px;
}
.containt-table2{
	line-height: 200%;
	margin-bottom:20px;
	padding-left: 20px;
}
.containt-top-right-btn{
	background: #0043e4;
	width: 85px;
	float: left;
	margin-left: 35px;
	height: 36px;
	color: white;
	text-decoration: center;
	line-height: 200%;
	float: left
}
.containt-top-right-btn p{
	padding-left: 20px;
	font-size: 14px;

}
.containt-top-right-btn-top{
	float: left;
}
.containt-input{
	float: left;
	padding-left:32px;
}
.containt-bottom{
	margin:0 10px;
	background: white;
	padding-left: 36px;
	letter-spacing: -0.5px;
	padding-right: 44px;
}
.containt-bottom h2{
	margin-top: 30px;
}
.containt-bottom-1 h3,.containt-bottom-3 h3,.containt-bottom-5 h3,.containt-bottom-8 h3{
	margin:31px 0px 25px 0px;
}
.containt-bottom-6 p{
	padding-bottom: 36px;
}
.containt-bottom-9{
	padding-bottom: 58px;
}

