@charset "utf-8";
/* CSS Document */
h3,h4,h5,h6{
	font-family:georgia;
	}
li{
	color:#C93;
	font-size:18px;
	}
h3{
	color:#606;
	}
/*----------通用样式-------------*/

/*--------main样式---------*/
.main{
  	color:#000;
	}



/*--------main样式---------*/
/*--------container样式---------*/

.container-right{
	float:left;
	width:200px;
	padding-left:64px;
	padding-top:49px;
	}
.container-left{
	float:left;
	width:300PX;
	padding-left:48px;
	line-height:1.38em;
	}
.container-leftone{
	padding-top:49px;
	
	}
.container-lefttwo{
	padding-top:37px;
	}
.container-leftthree{
	padding-top:60px;
	padding-bottom:51px;
	}

/*--------container样式---------*/