/*-----------通用样式------------*/
/*-----------通用样式------------*/

/*-----------header样式------------*/
.btn2{
	background-color: #333333;
}
.btn2 a{
	color: #ffffff;
}
.btn1 a,.btn3 a,.btn4 a,.btn5 a,.btn6 a{
	color: #333333;
}
/*-----------header样式------------*/


/*-----------banner样式------------*/
.banner_img{
	background-image: url(../images/slide-1.jpg);
	width: 940px;
	height: 392px;
	margin-left: 10px;
}
/*-----------banner样式------------*/


/*-----------containt样式------------*/
.containt_top_img,.containt_text p,.containt_left,.containt_center,.containt_right,.containt_left_img1,.containt_left_img2,.containt_left_img3,.containt_left p,.martin{
	float: left;
}
.containt_top_img{
	margin: 28px 20px 32px 46px;
	padding: 3px 3px 0px 3px;
	border: 1px #d9d9d9 solid;
	border-radius: 2px;
	background-color: #ffffff;
}
.containt_text h1{
	margin-top: 33px;
}
.text1{
	width: 608px;
	letter-spacing: 1.55px;
}
.text1,.text2{
	font-family: Lucida Bright;
	color: #333333;
	font-size: 12px;
	line-height: 233.3333333333333%;
	margin-top: 9px;
}
.text2{
	width: 577px;
	letter-spacing: 0.9px;
}
.containt_bottom{
	background-color: #ffffff;
}
.containt_left{
	width: 260px;
	margin-left: 36px;
}
.containt_left h1{
	margin: 24px 0px 18px 0px;
}
.containt_left p{
	width: 216px;
	margin-left: 19px;
	font-family: Lucida Bright;
	color: #333333;
	font-size: 12px;
	letter-spacing: 0.6px;
	line-height: 208.3333333333333%;
}
.martin{
	width: 76px;
	margin: 34px 96px 0px 40px;
	font-family: Lucida Bright;
	font-size: 12px;
	letter-spacing: 0.6px;
}
.martin a{
	color: #0043e4;
	text-decoration: none;
}
.containt_left_img2,.containt_left_img3{
	margin: 34px 0px 45px 7px;
}
.containt_center{
	width: 268px;
	margin-right: 31px;
	margin-left: 36px;
}
.containt_center h1{
	margin: 24px 0px 11px 0px;
}
.containt_center_img{
	padding: 3px 3px 0px 3px;
	border: 1px #d9d9d9 solid;
	border-radius: 2px;
	background-color: #ffffff;
	margin-bottom: 13px;
}
.containt_center p,.containt_right p{
	margin-top: 11px;
	font-family: Lucida Bright;
	color: #333333;
	font-size: 12px;
	letter-spacing: 0.6px;
	line-height: 208.3333333333333%;
}
.containt_right{
	width: 268px;
	padding-top: 73px;
}
/*-----------containt样式------------*/

/*-----------footer样式------------*/
/*-----------footer样式------------*/