/*-----------通用样式------------*/
.containt_left,.containt_right,.containt_left h3,.containt_left p,.button1,.button2{
	float: left;
}
/*-----------通用样式------------*/

/*-----------header样式------------*/
.btn6{
	background-color: #333333;
}
.btn6 a{
	color: #ffffff;
}
.btn1 a,.btn2 a,.btn3 a,.btn4 a,.btn5 a{
	color: #333333;
}
/*-----------header样式------------*/


/*-----------banner样式------------*/
.banner_img{
	background-image: url(../images/slide-2.jpg);
	width: 940px;
	height: 392px;
	margin-left: 10px;
}
.containt_left,.containt_right{
	width: 410px;
}
.containt_left{
	margin-right: 40px;
	margin-left: 46px;
}
.containt_left h2{
	margin-top: 30px;
	margin-bottom: 13px;
}
.containt_left h3{
	width: 172px;
	letter-spacing: -1.5px;
	word-spacing: -3px;
	margin-top: 21px;
	margin-right: 48px;
	margin-bottom: 52px;
}
.containt_left p{
	width: 174px;
	font-family: Courier;
	color: #000000;
	font-size: 12px;
	letter-spacing: -0.5px;
	line-height: 208.3333333333333%;
	margin-top: 17px;
}
.containt_right h2{
	margin-top: 30px;
	margin-bottom: 20px;
}
.input1 input,.input2 input,.input3 input{
	width: 390px;
	height: 36px;
	background-color: #000000;
	color: #ffffff;
	padding-left: 20px;
	font-family: Courier;
	font-size: 12px;
	border: hidden;
	margin-bottom: 4px;
}
.input4 textarea{
	width: 390px;
	height: 279px;
	background-color: #000000;
	color: #ffffff;
	padding-left: 20px;
	font-family: Courier;
	font-size: 12px;
	border: hidden;
}
.button1,.button2{
	padding: 8px 0px 9px 0px;
	background-color: #0043e4;
	text-align: center;
	margin-top: 12px;
}
.button1{
	width: 82px;
	margin-right: 20px;
	margin-left: 232px;
}
.button2{
	width: 76px;
}
.button a{
	color: #ffffff;
	text-decoration: none;
}
/*-----------banner样式------------*/


/*-----------containt样式------------*/

/*-----------containt样式------------*/

/*-----------footer样式------------*/
/*-----------footer样式------------*/