/*-----------通用样式------------*/
h3,p,.containt_top_left,.containt_top_center,.containt_top_right,.containt_bottom1,.containt_bottom2,.containt_bottom3,.containt_bottom4,.containt_bottom5{
	float: left;
}
/*-----------通用样式------------*/

/*-----------header样式------------*/
.btn3{
	background-color: #333333;
}
.btn3 a{
	color: #ffffff;
}
.btn1 a,.btn2 a,.btn4 a,.btn5 a,.btn6 a{
	color: #333333;
}
/*-----------header样式------------*/


/*-----------banner样式------------*/
.banner_img{
	background-image: url(../images/slide-1.jpg);
	width: 940px;
	height: 392px;
	margin-left: 10px;
}
/*-----------banner样式------------*/


/*-----------containt样式------------*/
.containt_top,.containt_bottom{
	padding-left: 46px;
}
.containt_top_left,.containt_top_center,.containt_top_right{
	width: 268px;
}
.containt_top_left h2{
	padding-top: 37px;
	padding-bottom: 13px;
}
.containt_top h3{
	width: 166px;
	margin: 9px 29px 15px 0px;
	letter-spacing: -0.5px;
}
.containt_top p{
	font-family: Courier;
	color: #000000;
	font-size: 12px;
	letter-spacing: -0.5px;
	margin-top: 11px;
}
.containt_top_img{
	padding: 3px 3px 0px 3px;
	border: 1px #d9d9d9 solid;
	border-radius: 2px;
	background-color: #ffffff;
}
.containt_top_center,.containt_top_right{
	padding-top: 77px;
	margin-left: 32px;
}
.containt_bottom{
	background-color: #ffffff;
	margin: 0px 10px;
}
.containt_bottom h2{
	margin-top: 24px;
	margin-bottom: 12px;
	letter-spacing: -1.7px;
}
.containt_bottom1,.containt_bottom2,.containt_bottom3,.containt_bottom4,.containt_bottom5{
	width: 148px;
}
.containt_bottom2,.containt_bottom3,.containt_bottom4,.containt_bottom5{
	margin-top: 63px;
	margin-left: 32px;
}
.containt_bottom_img1,.containt_bottom_img2{
	padding: 3px 3px 0px 3px;
	border: 1px #d9d9d9 solid;
	border-radius: 2px;
	background-color: #ffffff;
}
.containt_bottom_img1{
	margin-bottom: 32px;
}
.containt_bottom_img2{
	margin-bottom: 51px;
}
/*-----------containt样式------------*/

/*-----------footer样式------------*/
/*-----------footer样式------------*/