/*-----------通用样式------------*/
.containt_left,.containt_right,.input3,.button,.input3 p{
	float: left;
}
/*-----------通用样式------------*/

/*-----------header样式------------*/
.btn5{
	background-color: #333333;
}
.btn5 a{
	color: #ffffff;
}
.btn1 a,.btn2 a,.btn3 a,.btn4 a,.btn6 a{
	color: #333333;
}
/*-----------header样式------------*/


/*-----------banner样式------------*/
.banner_img{
	background-image: url(../images/slide-1.jpg);
	width: 940px;
	height: 392px;
	margin-left: 10px;
}
/*-----------banner样式------------*/


/*-----------containt样式------------*/
.containt_left{
	width: 566px;
	margin-right: 34px;
	margin-left: 46px;
}
.containt_left h2{
	padding-top: 30px;
	padding-bottom: 14px;
}
.containt p,.containt li{
	font-family: Courier;
	color: #333333;
	font-size: 12px;
}
.containt_left p{
	padding-top: 11px;
	letter-spacing: -1.3px;
	line-height: 208.3333333333333%;
}
.containt_left ul{
	padding-left: 16px;
}
.nav1{
	margin: 32px 0px;
}
.containt li{
	margin-bottom: 10px; 
	list-style: url(../images/members-info_btn_bg_03.png);
}
.containt_right{
	width: 260px;
}
.right_h2_1{
	padding-top: 30px;
}
.right_h2_2{
	padding-top: 39px;
}
.containt_right h3{
	margin-top: 18px;
	color: #0043e4;
	letter-spacing: -1.3px;
}
.input1 input,.input2 input{
	width: 240px;
	height: 36px;
	background-color: #000000;
	color: #ffffff;
	padding-left: 20px;
	font-family: Courier;
	font-size: 12px;
	border: hidden;
}
.input1{
	margin-top: 14px;
}
.input2{
	margin: 4px 0px;
}
.button{
	width: 85px;
	padding: 1px 0px 3px 0px;
	background-color: #0043e4;
	text-align: center;
}
.button a{
	color: #ffffff;
	text-decoration: none;
}
.input3{
	width: 143px;
	margin-top: 10px;
	margin-left: 32px;
}
.input3 p{
	margin-top: 0px;
	letter-spacing: -0.5px;
	width: 76px;
}
.nav3{
	margin-top: 53px;
	margin-left: 16px;
}
.containt_bottom{
	width: 868px;
	padding: 24px 36px 50px 36px;
	margin: 0px 10px;
	background-color: #ffffff;
}
.containt_bottom h3{
	margin-top: 22px;
}
.containt_bottom p{
	margin-top: 11px;
	line-height: 208.3333333333333%;
}
/*-----------containt样式------------*/

/*-----------footer样式------------*/
/*-----------footer样式------------*/