* {
    margin: 0;
    padding: 0;
}

html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.swiper-button-next {
    position: absolute;
    bottom: 3%;
    top: auto;
    left: 50%;
    right: auto;
    transform: rotateZ(-90deg);
}

.bluebg {
    height: 70px;
    position: absolute;
    bottom: 0;
    z-index: 99;
}

.bluebg img {
    height: 70px;
    position: absolute;
}

.bluebg img:nth-of-type(1) {
    left: 0px;
}

.bluebg img:nth-of-type(2) {
    left: -90px;
}

.s1, .s2, .s3, .s4, .s5, .s6, .s7 {
    background: url("../img/bj.png");
    height: 100%;
}

.s1 .header img {
    position: absolute;
}

.s1 .header img:nth-of-type(1) {
    width: 35px;
    height: auto;
    top: 130px;
    left: 50px;
    animation: swing infinite;
}

.s1 .header img:nth-of-type(2) {
    width: 65px;
    top: 90px;
    right: 40px;
    animation: swing infinite;
}

.s1 .header img:nth-of-type(3) {
    width: 55px;
    bottom: 180px;
    left: 35px;
    animation: swing infinite;
}

.s1 .header img:nth-of-type(4) {
    width: 50px;
    bottom: 210px;
    right: 50px;
    animation: swing infinite;
}

.s1 .header img:nth-of-type(5) {
    left: 50%;
    top: 25%;
    width: 60%;
    margin-left: -30%;
    animation: tada infinite;
}

.s1 .main {
    position: absolute;
    top: 30%;
}

.s1 .main img:nth-of-type(1) {
    width: 40%;
}

.s1 .main img:nth-of-type(2) {
    width: 80%;
}

.s1 .main .img9 {
    background: url(../img/9.png);
    background-size: cover;
    width: 207px;
    height: 24px;
    margin: auto;
    margin-top: 10px;
}

.s1 .footer {
    position: absolute;
    top: 70%;
    margin-left: 20%;
}

.s1 .footer h2 {
    color: aqua;
    font-size: 18px;
    line-height: 25px;
}

.s1 .footer div {
    color: aqua;
    font-size: 16px;
}

.s2 {
    color: #00f0c3;
}

.s2 h2 {
    padding-top: 10%;
    font-size: 24px;
    padding-bottom: 30px;
}

.s2 h2::before,
.s2 h2::after {
    content: "";
    background-size: cover;
    width: 83px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 45px;
}

.s2 h2:before {
    background-image: url(../img/14.png);
    left: 45px;
}

.s2 h2:after {
    background-image: url(../img/13.png);
    right: 45px;
}

.s2 h2 small {
    margin-top: 10px;
    font-size: 14px;
    display: block;
    letter-spacing: 5px;
}

.s2 img {
    width: 80%;
}

.s2 .main {
    position: relative;
    padding-top: 10px;
}

.s2 .text {
    position: absolute;
    width: 80%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: left;
    font-size: 14px;
    padding-top: 25px;
}

.s2 .text p {
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.s2 span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 120px;
    height: 30px;
    margin-left: -60px;
    color: #000000;
    line-height: 30px;
    border-radius: 20px;
    font-weight: bold;
    top: 95%;
    /*渐变代码*/
    background: -webkit-linear-gradient(left, #00e7f7, #00ffa1); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #00e7f7, #00ffa1); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #00e7f7, #00ffa1); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #00e7f7, #00ffa1); /* 标准的语法 */

}