/*----tongyong-----*/
.containt-right,.containt-right-top img{
	float: left;
}
/*-------tongyong---*/
.containt-right{
	font-family: 微软雅黑;
}
.containt-right img{
	padding-right: 20px;
}
.containt-right h2{
	color: #4a4a4a;
	
	padding-bottom: 20px;
}
.containt-right-top{
	margin-top: 38px;
}
span{
	color: #d60c0c;

}
.containt-right-top p{
	color: #4a4a4a;
	font-size: 13px;
	width: 600px;
}
.text2{
	padding-top: 40px;
	padding-bottom: 20px;

}
.containt-right-bottom h2{
	padding-top: 40px;
}
.about img{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 20px;
}
h4{
	color: #000;
	font-size: 14px;
	padding-left: 10px;
}
.about p{
	font-size: 13px;
	width: 150px;
	padding-left: 10px;
	color: #4a4a4a;
}

