span{
	color: #d60c0c;
	font-weight: 600;
}
.containt-right-top,.containt-left-bottom{
	font-family: 微软雅黑;
}
.containt-right-top-text1{
	padding-top: 39px;
	padding-bottom: 7px;
	font-size: 31px;
	font-weight: 600;
	color:4a4a4a;
}
.containt-right-top-text3,.containt-right-top-text4,.containt-right-top-text5{
	font-size: 13px;
}
.containt-right-top-text3{
	padding-top: 30px;
}
.containt-right-top-text4{
	padding-top: 30px;
	padding-bottom: 47px;
	width: 445px;
	float: left;
}
.containt-right-top-text5{
	width: 591px;
}
.containt-right-top img{
	float: left;
	padding-top: 23px;
	padding-right: 20px;
}
.containt-right-top a{
	color:  #d60c0c;
}
.containt-right-bottom-text	{
	padding-top: 49px;
	padding-bottom: 28px;
	font-size: 28px;
	font-weight: 600;
}
.containt-right-bottom-1,.containt-right-bottom-2,.containt-right-bottom-3{
	background: url(../images/containt-bottom-bg_03.png);
	width: 158px;
	height: 260x;
	float: left;
	margin-right: 30px;
	padding-left: 20px;
	padding-top: 15px;
    margin-bottom: 50px;
}
.containt-right-bottom img{
	margin-bottom: 18px;
}
.containt-right-bottom-text1{
	padding-bottom: 12px;
	font-family: 微软雅黑;
	color: white;
}
.containt-right-bottom-text2{
	font-size: 14px;
	line-height: 140%;
	font-family: 微软雅黑;
	color: white;
	width: 135px;
	word-spacing: -0.8px;
	letter-spacing: -0.5px;
}
.containt-right-bottom-btn1{
	width: 96px;
	background: url(../images/Home_03.png);
	line-height: 200%;
	font-family: 微软雅黑;
	text-align: center;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 12px;
}